/**
 * Checkout this CSS File.
 */

.table {
	display: table;
	width: 100%;
	color: #b362ff;
}

.table::after {
	content: 'Monokai Cotalpa';
	display: block;
	width: 10px;
	height: 10px;
	background: red;
}

a {
	text-decoration: none;
	opacity: 0.8;
}

a:hover {
	opacity: 1;
}

a[href$='.pdf'] {
	text-decoration: underline;
}

ul {
	list-style: none;
}

li:last-of-type {
	margin: 0;
}

li:nth-last-child(2n) {
	margin-left: 10px;
}

.css-class {
	display: grid;
	width: 100%;
	color: #bada55;
}

#css-id {
	display: inline;
	padding: 5rem;
	background: goldenrod;
}
