<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title
			| Monokai Cotalpa theme.
	body
		h1 🎨 Yet another Monokai color scheme for VS Code.
