/**
 * Checkout this SCSS File.
 */

$color: '#affeef';

.table {
	--color: '#affeef';
	display: table;
	width: 100%;
	color: #b362ff;
}

.table::after {
	color: var(--color);
	content: 'Monokai Cotalpa';
	display: block;
	width: 10px;
	height: 10px;
	background: red;
}

a {
	text-decoration: none;
	opacity: 0.8;
	color: $color;

	&:hover {
		opacity: 1;
	}

	&[href$='.pdf'] {
		text-decoration: underline;
	}
}

ul {
	list-style: none;

	li:last-of-type {
		margin: 0;
	}

	li:nth-last-child(2n) {
		margin-left: 10px;
	}
}

.css-class {
	display: grid;
	width: 100%;
	color: #bada55;
}

#css-id {
	display: inline;
	padding: 5rem;
	background: goldenrod;
}
